
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8" />
            <title>{{ title }}</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
        </head>
        
        <body>
            <header>
                <h1 id="title">{{ title }}</h1>
                <nav>
                    
                </nav>
            </header>
            <main>
           {% block main_content %}
           {% endblock %}
        </main>
        </body>
        <footer>
            <p>UCC Computer Science Open Day 2025</p>
            <p>Final Year Project</p>
            <p>Integrating Language Models and The Semantic Web</p>
            <p>Jack Feighery</p>
        </footer>
</html>