# Ignore all directories
*/



# Ignore specific subdirectories if needed
some-subdirectory/

# Allow specific files in the top level directory
!*.py
!README.md
!*.json
!*.txt

pyvenv.cfg
links_domain=yago_lang=en.nt
.env
